@{
    Layout="~/shared/layout.cshtml";
    var pagetitle = "About us";
}
@section t1
{
    @pagetitle
}

    <!--==============================content================================-->
    <section id="content"><div class="ic"></div>
        <div class="main">
            <div class="container_12">
                <div class="wrapper">
                	<article class="grid_4">
                    	<div class="maxheight img-indent-bot">
                            <h3>A Few Words About Us</h3>
                            <div class="wrapper indent-bot">
                                <figure class="img-border2"><img src="images/online-shopping.jpg" alt="Image"></figure>
                            </div>
                           
                        </div>
                    </article>   
                     
                        <p style="margin-top:60px;">    Welcome to e-marketplace.

Select from a wide range of products including mobile phones, cameras, laptops, movies, books, watches, writing instruments, perfumes, cosmetics and much more.

Get a hassle free online shopping experience in Pakistan with nationwide home delivery of 100% original brands in Karachi, Lahore, Islamabad, Peshawar, Multan, Faisalabad, Quetta, Sargodha, Bahawalpur, Attock, Larkana, Hyderabad, Sukkur, Sahiwal or any other city in Pakistan, backed by the expertise, reliability and trust of TCS.

Get the right deals, convenient payment options such as credit card, Easy Paisa or cash, exclusive offers and experience shopping that clicks.   </p> 
                </div>
            </div>
        </div>
    </section>
    

