@{
     Layout="~/shared/layout_admin.cshtml";
     var currentRoles = Roles.GetAllRoles(); 

     var pagetitle = "Roles";
}

@section t1
{
    @pagetitle
}





 <h2 style="margin-left: 200px; color: #0f5e1a; margin-top: 30px; margin-bottom: 10px;"> All Roles </h2>

        <div> 
                @if(currentRoles.Length > 0) 
                { 
                    @* List all current roles *@ 
                    <ul> 
                        @foreach(var role in currentRoles) 
                        { 
                            <li style="margin-left: 350px">@role</li> 
                        } 
                    </ul> 
                } 
            
                else 
                { 
                    <p style="margin-left: 280px; color: #0026ff">No roles currently defined.</p> 
                } 
        </div> 

