@{ 
   
    Layout="~/shared/layout_admin.cshtml";
    var roleName = Request["roleName"]; 
    if(IsPost) 
    { 
        // Delete role 
        if(Roles.GetUsersInRole(roleName).Length == 0 && !roleName.IsEmpty()) 
        { 
            Roles.DeleteRole(roleName, true); 
        } 
        Response.Redirect("roles"); 
    } 

    var pagetitle = "Delete Role";
} 

@section t1
{
    @pagetitle
}


    <h2 style="margin-left: 200px; color: #0f5e1a; margin-top: 30px; margin-bottom: 10px;">Delete Role</h2>
    <p style="margin-left: 260px; color: #000; margin-bottom: 10px;">Are we sure we wish to delete the @roleName role?</p> 
        <p> 
            <form action="" method="post" style="margin-left: 400px; margin-top: 30px;"> 
                @Html.Hidden("roleName", roleName) 
                <input type="button"onclick="window.location.href='roleDetails.cshtml?roleName=@roleName';" value="Cancel" /> 
                <input type="submit" value="Delete" /> 
            </form> 
        </p> 
