@{
        
        Layout="~/shared/layout_admin.cshtml";

        var userName = Request["userName"];
        var roleName = Request["roleName"];
        if(IsPost)
        {
            // Remove user from role
            if (Roles.IsUserInRole(userName, roleName))
            {
                Roles.RemoveUsersFromRoles(
                        new [] { userName }.ToArray(),
                        new [] { roleName }.ToArray());
            }

            Response.Redirect("roleDetails?roleName=" + roleName);
        }

        var pagetitle = "Remove User From Role";
}

@section t1
{
    @pagetitle
}


      <h2 style="margin-left: 200px; color: #0f5e1a; margin-top: 30px; margin-bottom: 10px;">Remove User from Role</h2>
                
             <p style="margin-left: 260px; color: #000; margin-bottom: 10px;">Are we sure we wish to remove user @userName from the @roleName role?</p>

                <form action="" method="post" style="margin-left: 400px; margin-top: 30px;" >
                        @Html.Hidden("roleName", roleName)
                        @Html.Hidden("userName", userName)
                        <input type="button"
                        onclick="window.location.href='roleDetails.cshtml?roleName=@roleName';"
                        value="Cancel" />
                        <input type="submit" value="Remove" />
                </form>
