 <footer>
        <div class="main">
        	<div class="aligncenter">
            <p>Copyright © 2012 Online Shopping. All Rights Reserved</p>
            </div>
        </div>

    </footer>

<script type="text/javascript"> Cufon.now(); </script>
   
