

       <header>
    	<div class="menu-row">
        	<div class="main">
            	<nav class="wrapper">
                    <ul class="menu">
                          <li><a class="active" href="@Href("~/Default.cshtml")">Home</a></li>
                          <li><a href="@Href("~/product.cshtml")"> Products </a></li> 
                          <li><a href="@Href("~/Admin/admin_panel.cshtml")">Admin Panel </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    	<div class="row-bot">
            <div class="row-bot-bg">
                <div class="main">
                    <div class="wrapper">
                        <h2>Admin Panel</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>


